{% extends 'base.html' %}
{% block title %}Список наград{% endblock %}
{% block content %}
    <h1>Список наград</h1>
    <table name="awards"  id="awards_list" class="table table-bordered">
        <thead>
            <tr>
                <th>№</th>
                <th>наименование награды</th>
                <th>тип награды</th>
                <th>организация</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for award in object_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{% url 'awards:edit_award' award.id %}">{{ award.award_name }}</a></td>
            <td>{{ award.award_type }}</td>
            <td>{{ award.issuer }}</td>
            <td>
                <a href="{% url 'awards:delete_award' award.id %}" class="btn btn-danger" role="button">
                    Удалить
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{% url 'awards:create_award' %}" class="btn btn-success">Добавить награду</a>
{% endblock %}