{% extends 'base.html' %}
{% block title %}Список наград преподавателей{% endblock %}
{% block content %}
    <h1>Список наград преподавателей</h1>
    <table border="0" cellspacing="5" cellpadding="5">
        <tbody>
            <tr>
                <td>Поиск по годам</td>
            </tr>
            <tr>
                <td>начиная с:</td>
                <td><input type="text" id="min" name="min"></td>
            </tr>
            <tr>
                <td>заканчивая по:</td>
                <td><input type="text" id="max" name="max"></td>
            </tr>
        </tbody>
    </table>
    <table id="employee_awards_list" class="table table-bordered" class="display">
        <thead class="thead-light">
            <tr>
                <th>№</th>
                <th>ФИО</th>
                <th>Дата награждения</th>
                <th>Награда</th>
                <th>Уровень награды</th>
                <th>Организация</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for employee_award in object_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{% url 'awards:edit_employee_award' employee_award.id %}">{{ employee_award.employee.FIO }}</a></td>
            <td>{{ employee_award.award_date }}</td>
            <td>{{ employee_award.award.award_name }}</td>
            <td>{{ employee_award.award.get_award_level_display }}</td>
            <td>{{ employee_award.award.issuer }}</td>
            <td>
                <a href="{% url 'awards:delete_employee_award' employee_award.id %}" class="btn btn-danger" role="button">
                    Удалить
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{% url 'awards:create_employee_award' %}" class="btn btn-success">Добавить награду преподавателя</a>
{% endblock %}