H1 { text-align: center; }

.backgrid-container {
    height: auto;
}
th>a.rotate{
    writing-mode: vertical-lr;
    text-orientation: sideways;
}
th.rotate{
    width: 60px;
    text-align: center;
}
th.rotate-width-100{
    width: 100px;
    text-align: center;
}
th.width-60{
    width: 60px;
    text-align: center;
}
th.wordwrap{
    width: 100px;
    word-break: break-all;
}