{% extends 'base.html' %}
{% block title %}Контрольный лист{% endblock %}
{% block content %}
    <style type="text/css">
        input[type=text] { width: 75%; }
    </style>
    <h1>Контрольный лист | {{ discipline.Name }}</h1>
    <form method="post">
    {% csrf_token %}
        <table id="students_table" class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Фамилия и инициалы</th>
                    <th scope="col">№ Зачетной книжки</th>
                    <th scope="col">1 контр. срез</th>
                    <th scope="col">2 контр. срез</th>
                    <th scope="col">Рубежный срез до начала экз. сессии</th>
                    <th scope="col">Рубежный срез с учетом премиальных баллов и отработок</th>
                    <th scope="col">Баллы за экзамен</th>
                    <th scope="col">Всего баллов</th>
                    <th scope="col">Оценка прописью</th>
                    <th scope="col">Буквенный эквивалент оценки</th>
                </tr>
            </thead>
            <tbody>
                {% for i in students_list %}
                <tr>
                    <td> {{ i.id }} <input id="studid" type="hidden" name="studid" value="{{ i.student.id }}"></td>
                    <td> {{ i.student.FIO }} </td>
                    <td> {{ i.student.StudentID }} </td>
                    {% for key, value in dict.items %}
                        {% if value.key == i.student.id %}
                            <td><input id="points1" type="text" name="points1" maxlength="255" value="{{ value.1.points }}"></td>
                            <td><input id="points2" type="text" name="points2" maxlength="255" value="{{ value.2.points }}"></td>
                            <td><input id="points3" type="text" name="points3" maxlength="255" value="{{ value.3.points }}"></td>
                            <td><input id="points4" type="text" name="points4" maxlength="255" value="{{ value.4.points }}"></td>
                            <td><input id="points6" type="text" name="points6" maxlength="255" value="{{ value.6.examPoints }}"></td>
                            <td><input id="points5" type="text" name="points5" maxlength="255" value="{{ value.5.points }}"></td>
                            {% if value.5.points >= 95 %}
                                <td> превосходно </td>
                                <td> A </td>
                            {% elif value.5.points >= 85 %}
                                <td> отлично </td>
                                <td> B </td>
                            {% elif value.5.points >= 75 %}
                                <td> очень хорошо </td>
                                <td> C </td>
                            {% elif value.5.points >= 65 %}
                                <td> хорошо </td>
                                <td> D </td>
                            {% elif value.5.points >= 55 %}
                                <td> удовлетворительно </td>
                                <td> E </td>
                            {% elif value.5.points >= 25 %}
                                <td> неудовлетворительно с возможной пересдачей </td>
                                <td> FX </td>
                            {% else %}
                                <td> неудовлетворительно с повторным изучением дисциплины </td>
                                <td> F </td>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit" class="btn btn-success">Сохранить</button>
    </form>
{% endblock %}