{% extends 'base.html' %}
{% block title %}Список курсов{% endblock %}
{% block content %}
{% csrf_token %}
<style>
    .handsontable thead th {
        height: 260px;
    }
    .handsontable thead th .relative {
        transform: rotate(90deg);
        bottom: 20px;
        margin-top: -20px;
    }
    .handsontable span.colHeader {
        line-height: 100px;
        margin-left: 70px;
    }
    .handsontable span.colHeader:nth-child(-n+6):nth-child(n+2) {
        margin-left: 150px;
    }
    .wtHider{
        width:250px !important;
    }
    .handsontableInputHolder .wtSpreader .htCore{
        width:250px !important;
    }
    .handsontable .valid {
        background-color: red;
    }



</style>
<nav style="margin: 0px 0px 20px 0px;" class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'hours:course_list' %}">Список
                        курсов</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'hours:contingent_list' %}">Список контингента</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'hours:employee_list' %}">Штатное расписание</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<h1>Список курсов</h1>
<p align="right">
    <label>
        <b>Курсы</b>
    </label>
    <br>

</p>
<label for="columns" class="selectColumn">Выберите столбец</label>
<select name="columns" id="columns">
    <option value="2">ФИО преподавателя</option>
    <option value="5">Название дисциплины</option>
</select>
<input type="text" id="filterField" placeholder="Фильтр">
<br>
<div id="course_list" class="hot"></div>
<br>
<a href="{% url 'hours:course_upload' %}" class="btn btn-success">Загрузить курсы</a>
<button id="save" class="btn btn-success" name="save">Сохранить изменения</button>
<a href="{% url 'hours:supervision_hours' %}" class="btn btn-success">Часы ВКР и курсовых</a>
{% endblock %}

{% block scripts %}
var hot;
var k={ {% for item in teacher_status %}{{item.0}}: {{ item.1 }},{% endfor %} };
let fullData = [];
let columns = [
    {
        data: 'id',
        title: 'Id',
        width: 50,
        renderer: valid,
    },
    {
        data: 'edu_period',
        title: 'Учебный год',
        renderer: valid,
    },
    {
        data: 'teacher',
        title: 'Преподаватель',
        type: 'key-value-list',
        source: [{_id:"None",label:""},{% for item in teacher %}{_id:"{{ item.id }}", label: "{{ item.FIO }}"},{% endfor %}],
    },
    {
        data: 'group',
        title: 'Группа',
        renderer: valid,
        readOnly: true,
    <!--        source: [{% for item in group %}{ id:"{{ item.id }}", label: "{{ item.Name }}"},{% endfor %}],-->

    },
    {
        data: 'cathedra',
        title: 'Кафедра',
        type: 'key-value-list',
        source: [{% for item in cathedra %}{_id:"{{ item.id }}", label: "{{ item.name }}"},{% endfor %}],
    },
    {
        data: 'discipline_settings',
        title: 'Дисциплина',
        renderer: valid,
        readOnly: true,
    },
    {
        data: 'f_lecture',
        title: 'Лекции',
        renderer: valid,
        width: 50,
    },
    {
        data: 'f_practice',
        title: 'Практики',
        renderer: valid,
        width: 50,
    },
    {
        data: 'f_lab',
        title: 'Лабораторные работы',
        renderer: valid,
        width: 50,
    },
    {
        data: 'f_consult_hours',
        title: 'Консультации',
        renderer: valid,
        width: 50,
    },
    {
        data: 'f_exam_hours',
        title: 'Экзамены',
        renderer: valid,
        width: 50,
    },
    {
        data: 'f_control_hours',
        title: 'Проверка РГР',
        renderer: valid,
        width: 50,
    },
    {
        data: 'f_check_hours',
        title: 'Проверка остаточных знаний',
        renderer: valid,
        width: 50,
    },
    {
        data: 'f_control_SRS',
        title: 'Контроль СРС',
        renderer: valid,
        width: 50,
    },
    {
        data: 'f_control_BRS',
        title: 'Контроль БРС',
        renderer: valid,
        width: 50,
    },
    {
        data: 'subgroup',
        title: 'Количество подгрупп',
        width: 50,
    },
    {
        data: 'edu',
        title: 'Учебная',
        width: 50,
    },
    {
        data: 'intern',
        title: 'Производственная',
        width: 50,
    },
    {
        data: 'graduate',
        title: 'Преддипломная',
        width: 50,
    },
    {
        data: 'teaching',
        title: 'Педагогическая',
        width: 50,
    },
    {
        data: 'supervision_vkr',
        title: 'Руководство ВКР',
        width: 50,
    },
    {
        data: 'supervision_kp_kr',
        title: 'Руководство КП/КР',
        width: 50,
    },
    {
        data: 'supervision_mag',
        title: 'Руководство магистрантом',
        width: 50,
    },
    {
        data: 'supervision_asp',
        title: 'Руководство аспирантом',
        width: 50,
    },
    {
        data: 'supervision_prog_mag',
        title: 'Руководство программой магистратуры',
        width: 50,
    },
    {
        data: 'gek',
        title: 'ГЭК, ГАК',
        width: 50,
    },
    {
        data: 'vkr_rev',
        title: 'Рецензия ВКР',
        width: 50,
    },
    {
        data: 'admis',
        title: 'Прием кандидатского',
        width: 50,
    },
    {
        data: 'ref_rev',
        title: 'Рецензия рефератов',
        width: 50,
    },
    {
        data: 'is_lecture_seperate',
        title: 'Лекции отдельно',
        type: 'checkbox',
        width: 50,
    },
    {
        data: 'practice_weekly',
        title: 'Недель практики',
        width: 50,
    },
    {
        data: 'is_hourly',
        title: 'Почасовая',
        width: 50,
        type: 'checkbox',
    },
    {
        data: 'is_KR_KP_VKR',
        title: 'КР/КП ВКР',
        width: 50,
        type: 'checkbox',
    },
    {
        data: 'is_new',
        title: 'Вновь вводимый',
        width: 50,
        type: 'checkbox',
    },
    {
        data: 'need_new_RPD',
        title: 'Составление РПД',
        width: 50,
        type: 'checkbox',
    },
    {
        data: 'need_upd_RPD',
        title: 'Обновление РПД',
        width: 50,
        type: 'checkbox',
    },
];


fetch("{% url 'hours:api:get_courselist' %}")
.then((response)=>{
    if(response.status != 200)
    {
        //process error
        return [];
    }
    return response.json();
})
.then((data)=>{
    fullData = data;
    const container = document.getElementById('course_list');
    hot = new Handsontable(container, {
    data: data,
    rowHeaders: true,
    colHeaders: true,
    height: 500,
    language: 'ru-RU',
    trimDropdown: false,
    licenseKey: 'non-commercial-and-evaluation',
    columns: columns,
    beforeValidate:(value, row, prop)=>{
        if(prop === 'teacher') {
            columns[2].source.forEach((el, index) => {
                if(el.label.includes(value)) {
                    console.log(prop);
                    return (value = el._id);
                }
            });
                return value;
            }
            if(prop === 'cathedra') {
                columns[4].source.forEach((el, index) => {
                    if(el.label.includes(value)) {
                        return (value = el._id);
                    }
                });
                return value;
            }
        },
        beforeChange: (changes) => {

    }
    });
});
let saveButton  = document.querySelector('#save');
saveButton.addEventListener('click', () => {
    fetch("{% url 'hours:api:save_courselist' %}", {
        method: 'POST',
        body: JSON.stringify({'data': hot.getData()}),
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
            'X-CSRFToken': document.querySelector("[name=csrfmiddlewaretoken]").value,
        },
    })
    .then((response) => response.json())
    .then((data) => {
        for (key in data['valid']) {
            k[key] = data['valid'][key];
        }
        alert("Данные успешно сохранены")
        console.log('Success:', hot.getData());
    })
    .catch((error) => {
        console.error('Error:', error);
<!--        undoRedo.undo()-->
        alert("Ошибка в сохранении");
    })
});
function valid(instance, td, row, col, prop, value, cellProperties) {
    Handsontable.renderers.TextRenderer.apply(this, arguments);
    console.log(k[(instance.getData()[row][2])]);
    if(k[instance.getData()[row][2]] === 0)
    {
    td.style.backgroundColor = 'red';
    }
}

function applyFilter(column, searchTerm) {
  const filteredData = fullData.filter((row) => {
    let item;
    if (column === 2) {
      item = columns[2].source.find((source) => source._id === row.teacher);
      console.log(columns[2])
    } else if (column === 5) {
      item = { label: row.discipline_settings };
    } else {
      return true;
    }

    return item && item.label.toLowerCase().includes(searchTerm);
  });

  hot.loadData(filteredData);
}

const filterField = document.querySelector("#filterField");

filterField.addEventListener("keyup", function (event) {
  const columnSelector = document.getElementById("columns");
  const columnValue = parseInt(columnSelector.value);
  const searchTerm = event.target.value.toLowerCase();

  applyFilter(columnValue, searchTerm);
});

{% endblock %}

