{% extends 'base.html' %}
{% block title %}Детали дисциплины{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1>Детали дисциплины: {{name}}</h1>
                    <br>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                        <th>Семестр</th>
                        <th>ЗЕТ</th>
                        <th>Кол-во лекций</th>
                        <th>Кол-во практики</th>
                        <th>Кол-во лаб. работ</th>
                        <th>Кол-во КСР</th>
                        <th>Кол-во СРС</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for s in form %}
                            <tr>
                                <td> {{ s.semestr }} </td>
                                <td> {{ s.Credit }} </td>
                                <td> {{ s.Lecture }} </td>
                                <td> {{ s.Practice }} </td>
                                <td> {{ s.Lab }} </td>
                                <td> {{ s.KSR }} </td>
                                <td> {{ s.SRS }} </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <a href="{% url 'disciplines:details_list' %}" class="btn btn-primary">Изменить</a>
                    <a href="{% url 'disciplines:disciplines_list' %}" class="btn btn-secondary">Назад</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}