{% extends 'base.html' %}
{% block title %}Список дисциплин{% endblock %}
{% load extra_tags %}

{% block additional_css %}
{{ form.media.css }}
<style type="text/css">
    select{
        width: 300px;
    }
</style>
{% endblock %}

{% block content %}
    <div class="alert alert-danger" role="alert" id="error" style="visibility:hidden;position:fixed;top:0;left:0;width:100%;z-index:100;"></div>
    <div class="alert alert-info" role="alert">
        <b>ВНИМАНИЕ! Уважаемые пользователи!</b> Теперь в списке курсов можно просматривать и оконченные курсы. Если у Вас не отображается фильтр по состоянию курса, то нажмите <b>Ctrl+F5</b>.
    </div>
    {% include 'select_disc_modal.html' %}
    <h1>Список дисциплин</h1>
    {% if student %}
    <h2>Студент: {{ student.FIO }}</h2>
    <h2>Группа: {{ group.Name }}</h2>
    {% endif %}
    <br>
    <div class="row justify-content-end">
        <div class="col-3">
            <div id="semester_filter"><label>Семестр:</label></div>
            <div id="course_state_filter"><label>Состояние курса:</label></div>
        </div>
    </div>
    <br>
    <table id="student_disc_list" class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th>№</th>
                <th>Дисциплина</th>
                <th>Семестр</th>
                <th>Преподаватель</th>
                <th>Первый срез</th>
                <th>Второй срез</th>
                <th>Рубежный срез</th>
                <th>Оценка</th>
                <th>Состояние курса</th>
            </tr>
        </thead>
        <tbody>
            {% for discipline in discipline_list %}
            <tr>
                <td></td>
                <td> <a href="{% url 'disciplines:brs_scores' discipline.id %}">{{ discipline.discipline_detail.discipline.Name }}</a> </td>
                <td> {{ discipline.discipline_detail.semester }} </td>
                <td> {{ discipline.lecturer.FIO }} </td>
                <td> {% if discipline.points1 %} {{ discipline.points1 }} {% endif %} </td>
                <td> {% if discipline.points2 %} {{ discipline.points2 }} {% endif %} </td>
                <td> {% if discipline.points3 %} {{ discipline.points3 }} {% endif %} </td>
                <td> {% if discipline.mark %} {{ exam_marks|get_dict_value:discipline.mark }} {% endif %} </td>
                <td> {% if discipline.is_finished %}Окончен{% else %}Не окончен{% endif %} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if teacher %}
    <div class="d-flex justify-content-end">
        <div class="row">
            <div class="col">
                <button class="btn btn-primary" name="AddCourse" id="AddCourse">Добавить дисциплины</button>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block additional_js %} {{ form.media.js }} {% endblock %}

{% block scripts %}
{% if teacher %}

$('#modal_error').hide();

function ShowError(msg, type){
    var error =(type == 1)?$('#error'): $('#modal_error');
    error.html(msg);
	error.show();
	error.delay(3000).slideUp(500, function() {$(this).hide();});
}

$('#AddCourse').on('click', function(e){
    $('#id_teacher').attr('value',{{ teacher.id }});
    $('#id_courses').val(null).trigger('change');
    $('#AddDisc').modal('show');
});

$('[name="delete_course"]').on('click', function(e){
    e.preventDefault();
    if(confirm('Вы уверены что хотите удалить этот предмет?')){
        $.ajax({
            url: "{% url 'disciplines:api:delete_course_teacher' %}",
            method: "POST",
            data: {'course': $(this).attr('id'), 'csrfmiddlewaretoken':$('[name="csrfmiddlewaretoken"]').attr('value')},
            dataType: "json"
        }).done(function(data){
            if(data['result']==true){
                $('#my_table2').DataTable().destroy();
                $('[id=' + data['course'] + ']').closest('tr').remove();
                $('#course_state_filter > select').remove();
                $('#my_table2').DataTable( {"language": {"url": "/static/Russian.json"}, initComplete: init_function} );
            }else{
                ShowError('Ошибка снятия привязки предмета!',1);
            }
        }).fail(function(jqXHR, textStatus){
            ShowError('Ошибка снятия привязки предмета!',1);
        });
    }
});

$('#SetDisc').on('click', function(e){
    $.ajax({
        url: $('#set_disc').attr('action'),
        method: $('#set_disc').attr('method'),
        data: $('#set_disc').serialize()
    }).done(function(data){
        //add row to table;
        if(data['result'] == true)
        {
            //add row
            $('#my_table2').DataTable().destroy();
            $('#my_table2 tr:last').after(data['rows']);
            $('#course_state_filter > select').remove();
            $('#my_table2').DataTable( {"language": {"url": "/static/Russian.json"}, initComplete: init_function} );
            $('#AddDisc').modal('hide');
        }
        else
        {
            ShowError('Ошибка добавления предмета!! Повторите позже!', 0);
        }
    }).fail(function(jqXHR, textStatus){
        ShowError('Ошибка добавления предмета!! Повторите позже!', 0);
    });
});
{% endif %}
{% endblock %}