{% extends 'base.html' %}
{% block title %}Детали дисциплин{% endblock %}
{% block content %}
    <h1>Детали дисциплин</h1>
    <table id="my_table" class="table table-bordered">
        <thead class="thead-light">
        <tr>
        <th>Дисциплина</th>
        <th>ЗЕТ</th>
        <th>Кол-во лекций</th>
        <th>Кол-во практики</th>
        <th>Кол-во лаб. работ</th>
        <th>Кол-во КСР</th>
        <th>Кол-во СРС</th>
        <th>Кол-во часов</th>
        <th>Семестр</th>
        <th></th>
        </tr>
        </thead>
        <tbody>
            {% for d in discipline_details %}
            <tr>
                <td> {{ d.subject }} </td>
                <td> {{ d.Credit }} </td>
                <td> {{ d.Lecture }} </td>
                <td> {{ d.Practice }} </td>
                <td> {{ d.Lab }} </td>
                <td> {{ d.KSR }} </td>
                <td> {{ d.SRS }} </td>
                <td> {{ d.control_hours }} </td>
                <td> {{ d.semestr }} </td>
                <td> <a href="{% url 'disciplines:update_details' d.id %}"><input type="submit" value="Изменить"
                                                                                   class="btn btn-secondary"></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'disciplines:details_add' %}" class="btn btn-success">Добавить детали дисциплины</a>
    <a href="{% url 'disciplines:disciplines_list' %}" class="btn btn-primary">Вернуться в список дисциплин</a>
{% endblock %}
