{% extends 'base.html' %}
{% block content %}
<title>Детали предмета</title>
    <h1>Детали предмета</h1>
    <table class="table table-bordered">
        <thead>
        <th scope="col">Предмет</th>
        <th scope="col">Кол-во часов</th>
        <th scope="col">Кол-во лекций</th>
        <th scope="col">Кол-во практики</th>
        <th scope="col">Кол-в лаб. работ</th>
        <th scope="col">Кол-в КСР</th>
        <th scope="col">Кол-в СРС</th>
        <th scope="col">Семестр</th>
        </thead>
        <tbody>
            {% for detail in detail_list %}
            <tr>
                <td> {{ detail.subject }} </td>
                <td> {{ detail.Credit }} </td>
                <td> {{ detail.Lecture }} </td>
                <td> {{ detail.Practice }} </td>
                <td> {{ detail.Lab }} </td>
                <td> {{ detail.KSR }} </td>
                <td> {{ detail.SRS }} </td>
                <td> {{ detail.semestr }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'disciplines:disciplines_add' %}" class="btn btn-success">Добавить новый предмет</a>
{% endblock %}