{% extends 'base.html' %}
{% block content %}
<title>Список предметов</title>
    <h1>Список предметов</h1>
    <table class="table table-bordered">
        <thead>
        <th scope="col">Предмет</th>
        <th scope="col">Код</th>
        <th scope="col">Специализация</th>
        <th scope="col">Преподаватель</th>
        <th scope="col">Тип контроля</th>
        </thead>
        <tbody>
            {% for discipline in discipline_list %}
            <tr>
                <td> {{ discipline.Name }} </td>
                <td> {{ discipline.code }} </td>
                <td> {{ discipline.program }} </td>
                <td> {{ discipline.lecturer }} </td>
                <td> {{ discipline.control }} </td>
                <td>
                    <form action = '/disciplines/delete/' method="post">
                        {% csrf_token %}
                         <input type="hidden" name="discipline" value="{{ discipline.id }}" />
                         <input type="submit" value="удалить">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'disciplines:disciplines_add' %}" class="btn btn-success">Добавить новый предмет</a></p>
{% endblock %}