{% extends 'base.html' %}
{% block content %}
    <h1>Список предметов</h1>
    <table class="table table-bordered">
        <thead>
        <th scope="col">Предмет</th>
        <th scope="col">Код</th>
        <th scope="col">Специализация</th>
        <th scope="col">Преподаватель</th>
        <th scope="col">Тип контроля</th>
        </thead>
        <tbody>
            {% for i in disciplines %}
            <tr>
                <td> {{ i.Name }} </td>
                <td> {{ i.code }} </td>
                <td> {{ i.program }} </td>
                <td> {{ i.lecturer }} </td>
                <td> {{ i.control }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'disciplines:disciplines_add' %}" class="btn btn-success">Добавить новый предмет</a></p>
{% endblock %}