{% extends 'base.html' %}
{% block title %}Список дисциплин{% endblock %}
{% block content %}
    <h1>Список дисциплин</h1>
    <br>
    <table id="my_table2" class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th>Дисциплина</th>
                <th>Код</th>
                <th>Специализация</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for discipline in discipline_list %}
            <tr>
                <td> <a href="{% url 'disciplines:detail' discipline.id %}">{{ discipline.discipline_detail.discipline.Name }}</a> </td>
                <td> {{ discipline.discipline_detail.discipline.code }} </td>
                <td> {{ discipline.discipline_detail.discipline.program }} </td>
                <td><a href="{% url 'disciplines:brs_scores' discipline.id %}"> <input type="submit" value="Баллы БРС"
                                                                                   class="btn btn-primary"></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
