{% extends 'base.html' %}
{% block title %}Список дисциплин{% endblock %}
{% block content %}
    <h1>Список дисциплин</h1>
    <table id="my_table" class="table table-bordered">
        <thead class="thead-light">
        <tr>
        <th>Дисциплина</th>
        <th>Код</th>
        <th>Специализация</th>
        <th>Преподаватель</th>
        <th>Тип</th>
        <th></th>
        <th></th>
        <th></th>
        </tr>
        </thead>
        <tbody>
            {% for discipline in discipline_list %}
            <tr>
                <td> <a href="{% url 'disciplines:detail' discipline.id %}">{{ discipline.Name }}</a> </td>
                <td> {{ discipline.code }} </td>
                <td> {{ discipline.program }} </td>
                <td> {{ discipline.lecturer }} </td>
                <td> {{ discipline.control }} </td>
                <td> <a href="{% url 'disciplines:update' discipline.id %}"><input type="submit" value="Изменить"
                                                                                   class="btn btn-secondary"></a></td>
                <td>
                     <form action = "{% url 'disciplines:delete' %}" method="post">
                         {% csrf_token %}
                         <input type="hidden" name="discipline" value="{{ discipline.id }}"/>
                         <input type="submit"  value="Удалить" class="btn btn-danger">
                     </form>
                </td>
                <td> <a href="{% url 'brs_studentlist' discipline.id %}"><input type="submit" value="Успеваемость"
                                                                                   class="btn btn-secondary"></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'disciplines:disciplines_add' %}" class="btn btn-success">Добавить новую дисциплину</a>
{% endblock %}
