{% extends 'base.html' %}
{% block title %}Контрольный лист{% endblock %}
{% block content %}
    <h1>Экран успеваемости {{ group.Name }}</h1>
    </br>
        <table id="ekran" class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th></th>
                    <th>{{ group.Name }} семестр {{ semestr.name }}</th>
                    {% for subject in subjects %}
                    <th>{{ subject.Name }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for gl in students_list %}
                <tr>
                    <td> </td>
                    <td> {{ gl.student.FIO }} </td>
                    {% for key1, value1 in exam_marks.items %}
                        {% if value1.key == gl.student.id %}
                            {% for key2, value2 in value1.items %}
                                {% if value2.mark != None %}
                                    <td> {{ value2.mark }} </td>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <button type="submit" class="btn btn-success" name="save" value="save">Сохранить</button>
        <button type="submit" class="btn btn-primary" name="vedomost" value="vedomost">Скачать</button>
        <input type="button" class="btn btn-secondary" onclick="history.back();" value="Назад"/>
{% endblock %}