{% extends 'base.html' %}
{% block title %}Штатное расписание{% endblock %}
{% block content %}
    <h1>Штатное расписание</h1>
    <p align="right" id="employee_list_filter">
        <label>
            <b>Type</b>
        </label>
        <br>
    </p>
    <table id="semployee_list" class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th>№</th>
            <th>Преподаватель</th>
            <th>Ставка</th>
            <th>Тип</th>
            <th>Преподаватель активен</th>
        </tr>
        </thead>
        <tbody>
        {% for employee in object_list %}
            <tr>
                <td></td>
                <td><a href="{% url 'hours:edit_employee' employee.id %}">{{ employee.teacher }}</a></td>
                <td>{{ employee.stavka }}</td>
                <td>{{ employee.employee_type }}</td>
                <td>{{ employee.is_active }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
{% endblock %}