{% extends 'base.html' %}
{% load staticfiles %}
{% load extra_tags %}
{% block title %}Ведомость{{ discipline.group.Name }}{% endblock %}
{% block content %}
    {% csrf_token %}
<h1>Ведомость</h1>
<div class="row">
    <div class="col">
        <div style="position:fixed;top:0;left:0;width:100%;z-index:100;" id="error_container"></div>
    </div>
</div>
<div class="row">
    <div class="col">
        <h2>Семестр: <u>{{ discipline.discipline_detail.semester }}</u></h2>
    </div>
    <div class="col">
        <h2>Курс: <u>{{ discipline.group.year }}</u></h2>
    </div>
    <div class="col">
        <h2><u>{{ period }}</u> уч. г.</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        <h2>Форма контроля: <u>{{ control_type }}</u></h2>
    </div>

    <div class="col">
        <h2>Группа: <u>{{ discipline.group.Name }}</u></h2>
    </div>
</div>
<div class="row">
    <div class="col">
        <h2>Дисциплина: <u>{{ discipline.discipline_detail.discipline.Name }}</u></h2>
    </div>
</div>
<div class="row">
    <div class="col">
        <h2>ФИО преподавателя: <u>{{ discipline.lecturer.FIO }}</u> </h2>
    </div>
</div>
<div class="row">
    <div class="col">
        <h2>Дата экзамена:</h2> <input type="date" name="exam_date" id="exam_date" value="{{ today }}" class="form-control" style="width:300px;">
    </div>
</div>
        <div class="row">
            <div class="col">
                <div id="scores_list" class="backgrid-container">
                </div>
            </div>
        </div>
           <button type="submit" class="btn btn-success" id="SaveButton" name="save" value="save">{% if not exam.is_finished %}Завершить экзамен{% else %}Скачать ведомость{% endif %}</button>
            <input type="button" class="btn btn-secondary" onclick="history.back();" value="Назад"/>
{% endblock %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'css/backgrid.css' %}" type="text/css">
<style>
    table{
        table-layout:fixed;
        width:"100%";
    }
</style>
{% endblock %}

{% block additional_js %}
<script src="{% static 'js/underscore.js' %}"></script>
<script src="{% static 'js/backbone.js' %}"></script>
<script src="{% static 'js/backgrid.js' %}"></script>
{% endblock %}

{% block scripts %}
$(document).ready(function(){
    function get_error_msg(status, type, max_exam_points=0){
        if(status == 404){
            if (type == 1) msg = 'Баллы не проставлены!'
            else msg = 'Экзамен не найден!';
        }else if(status == 403 || status == 200){
            if (type == 1) msg = 'Вы не можете устанавливать баллы за экзамен!';
            else msg = 'Вы не можете закрыть закрыть экзамен!';
        }else if(status == 500){
            msg = 'Ошибка при сохранении баллов, обратитесь к администратору!'
        } else if(status == 400){
            msg = 'Сумма баллов не может превышать "100"!';
        } else if (status == 406){
            msg = 'Количество баллов за экзамен не может превышать "' + max_exam_points + '"!'
        }else if(status == 405){
            msg = 'Экзамен уже завершен!';
        }
        return msg;
    }

    function show_error(message){
        let error_obj = $('<div class="alert alert-danger" role="alert" id="error">' + msg + '</div>').appendTo('#error_container');
        $(error_obj).delay(2000).slideUp(500, function() {$(this).alert('close');});
    }

    $('[name="save"]').on('click', function(){
        {% if exam.is_finished %}
            download_report();
        {% else %}
            close_exam();
        {% endif %}
    });

    function close_exam(){
        if(confirm("Экзамен закончился?")){
            $.ajax({
                url: "{% url 'disciplines:api:finish_exam' %}",
                method: "POST",
                data: {"exam_id": {{ exam.id }}},
                dataType: "json"
            }).done(function(data){
                if(data['result'] == true){
                    $("#SaveButton").html("Скачать ведомость");
                    $('#SaveButton').off('click').on('click', download_report);
                }else{
                    //show error
                    show_error(get_error_msg(data['result']['status'], 2));
                }
            }).fail(function(jqXHR, textStatus){
                //show error
                show_error(get_error_msg(jqXHR.status, 2));
            });
        }
    }

    function download_report(){
        console.log('report');

    }

    function InitTable(table_columns, table_app){
        $('#scores_list').empty();
        var grid = new Backgrid.Grid({
            columns: table_columns,
            collection: table_app,
            className: "backgrid table table-bordered table-hover"
        });
        var $backgrid = $("#scores_list");
        $backgrid.append(grid.render().el);
        $('th.rotate-width-100>a').addClass('rotate');
    }

    function getCSRF(){
        return $('input[name=csrfmiddlewaretoken]').val();
    }

	function csrfSafeMethod(method) {
		return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
	}

	// Для методов DELETE, POST и PUT установим CSRF-токен
	$.ajaxSetup({
		beforeSend: function (xhr, settings) {
			if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
				xhr.setRequestHeader('X-CSRFToken', getCSRF());
			}
		}
	});

    Backgrid.MyCell = Backgrid.NumberCell.extend({
        className: "my-cell",
        editor: Backgrid.InputCellEditor.extend({
          postRender: function (model, column) {
            if (column == null || column.get("name") == this.column.get("name")) {
              // move the cursor to the end on firefox if text is right aligned
              if (this.$el.css("text-align") === "right") {
                var val = this.$el.val();
                this.$el.focus().val(null).val(val).select();
              }
              else {
                this.$el.focus().select();
              }
            }

            return this;
          }
        })
    });
    var originalInitialize = Backgrid.HeaderCell.prototype.initialize;
    Backgrid.HeaderCell.prototype.initialize = function (options) {
        originalInitialize.apply(this, arguments);
        var additional_class = options.column.get("additional_class");
        if (additional_class)
        {
            this.$el.addClass(additional_class);
        }
    }

    var data=[
                {% for student_mark in object_list %}
                {
                        "student_id":"{{ student_mark.student.id }}",
                        "exam_id":"{{ exam.id }}",
                        "fullname":"{{ student_mark.student.FIO }}",
                        "in_points": "{{ student_mark.inPoints }}",
                        "additional_points": "{{ student_mark.additional_points }}",
                        "exam_points": "{{ student_mark.examPoints }}",
                        "total_points": "{{ student_mark.total_points }}",
                        "exam_mark": "{{ student_mark.mark_to_text }}",
                        "mark_symbol": "{{ student_mark.mark_symbol }}"
                },
                {% endfor %}
            ];

    var Application = Backbone.Model.extend({
        initialize: function(){
            this.on("change", function(model, response, options){
                if (options && options.save === false) return;
                model.url = "{% url 'disciplines:api:exam_scores' %}";
                model.save(null, { type: "POST", error: function (model, response, options){
                    max_exam_points = 0;
                    if ('old' in response ){
                        model.set("exam_mark", response["old"]["mark"]);
                        model.set("mark_symbol", response["old"]["symbol"]);
                        model.set("additional_points", response["old"]["additional_points"]);
                        model.set("exam_points", response["old"]["exam_points"]);
                        model.set("total_points", response["old"]["total"]);
                        max_exam_points = response['max_exam_points']
                    }
                    show_error(get_error_msg(response.status, 1, max_exam_points));
                }, success: function(model, response, options){
                    var response_data;
                    console.log(response);
                    if (response['result'] == true){
                        response_data = response['new']
                    }else{
                        response_data = response['old']
                        show_error(get_error_msg(response.status, 1, response['max_exam_points']));
                        model.set("additional_points", response_data["additional_points"]);
                        model.set("exam_points", response_data["exam_points"]);
                    }
                    model.set("exam_mark", response_data["mark"]);
                    model.set("mark_symbol", response_data["symbol"]);
                    model.set("total_points", response_data["total"]);
                    //InitTable(columns, apps);
                }
                });
                console.log("Changed model " + model.get("fullname") + " " + model.get("student_id"));
            });
        }
    });
    var Applications = Backbone.Collection.extend({
        model: Application,
        state: {
                pageSize: 30
        },
        mode: "client" // page entirely on the client side.
    });

    var apps = new Applications(data);

    var columns=[
        {
            editable: false,
            name: "fullname",
            label: "ФИО",
            cell: "string"
        },
        {
            editable: false,
            name: "student_code",
            label: "Номер зачетной книжки",
            cell: "string",
            additional_class: 'rotate-width-100'
        },
        {
            editable: false,
            name: "in_points" ,
            label: "Сумма баллов за текущую работу",
            cell: "string",
            additional_class: 'rotate-width-100'
        },
        {
            editable: true,
            name: "additional_points",
            label: "Дополнительные баллы" ,
            cell: Backgrid.MyCell.extend({
                decimals:1
            }),
            additional_class: 'rotate-width-100'
        },
        {
            editable: {% if is_exam %}true{% else %}false{% endif %},
            name: "exam_points",
            label: "Баллы за экзамен",
            cell: Backgrid.MyCell.extend({
                decimals:1
            }),
            additional_class: 'rotate-width-100'
        },
        {
            editable: false,
            name: "total_points",
            label: "Всего баллов",
            cell: "string",
            additional_class: 'rotate-width-100'
        },
        {
            editable: false,
            name: "exam_mark",
            label: "Оценка прописью",
            cell: "string",
            additional_class: 'rotate-width-100'
        },
        {
            editable: false,
            name: "mark_symbol",
            label:"Буквенный эквивалент",
            cell: "string",
            additional_class: 'rotate-width-100'
        }
    ];
    InitTable(columns, apps);
});
{% endblock %}