{% extends 'base.html' %}
{% block title %}Экран успеваемости{% endblock %}
{% block content2 %}
<form action="{% url 'disciplines:export' %}" method="get">
    <h1 class="title">Экран успеваемости</h1>
    <div class="row">
        <div class="col-md-2 offset-md-5">
            <br>
            <div class="form-group">
            <label for="dropdown1" >Группа:</label>
            <select name="dropdown1" id="dropdown1" class="form-control">
                {% for groupname in groupname %}
                    <option value="{{ groupname.id }}">{{ groupname.name}}</option>
                {% endfor %}
            </select>
            </div>
            <div class="form-group">
            <label for="dropdown2">Семестр:</label>
            <select name="dropdown2" id="dropdown2" class="form-control">
                {% for semestername in semestername %}
                    <option value="{{ semestername.name }}">{{ semestername.name}}</option>
                {% endfor %}
            </select>
            </div>
            <p align="center"><button type="submit" class="btn btn-success">Скачать</button>
          </div>
    </div>
</form>
            <br>
    <div id="tableplace">
    </div>
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function() {
        $('#dropdown1').change();
    } );

    function DestroyTable(){
        $('#tableplace').find('table.table-bordered').remove();
    }

    function AddTable(columns) {
        var table = '<table id="table1" class="table-bordered">\n' +
            '                <thead>\n' +
            '                    <tr>\n' +
            '                        <th>ФИО</th>\n';
        for(var i=0;i<columns.length;i++){
            table += '<th>' + columns[i] + '</th>\n';
        }
        table += '                    </tr>\n                </thead>\n            </table>';
        return $('#tableplace').append(table);
    }

    function LoadTableData(element){
        console.log('loading data!');
        $(element).DataTable( {
            "dom": 'rtipS',
            "info": false,
            "paging": false,
            "ajax": {
                  "url":"{% url 'disciplines:dataforekran' %}",
                  "dataType":"json",
                  "type":"GET",
                  "data":{"group": $("#dropdown1").val(),"semester": $("#dropdown2").val()}
              },
        } );
    }

    function ClearColumns(){
        $('#table1').dataTable().fnDestroy();
    }

    function ReloadTable(data){
        DestroyTable();
        LoadTableData(AddTable(data['data']).find('table'));
    }

    $('#dropdown1').on('change',function(){
        $.ajax({
            "url":"{% url 'disciplines:subjects' %}",
            "method":"GET",
            "data":{"group": $("#dropdown1").val(),"semester": $("#dropdown2").val()},
            "success":ReloadTable,
        });
    });

    $('#dropdown2').on('change',function(){
        $.ajax({
            "url":"{% url 'disciplines:subjects' %}",
            "method":"GET",
            "data":{"group": $("#dropdown1").val(),"semester": $("#dropdown2").val()},
            "success":ReloadTable,
        });
    });
</script>
{% endblock %}