{% extends 'base.html' %}
{% block title %}Экран успеваемости{% endblock %}
{% block content %}
<form action="{% url 'disciplines:export' %}" method="get">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-lg-offset-12">
                <center>
                    <h1 class="title">Экран успеваемости</h1>
                    <p></p>
                    <div class="col-lg-3 col-lg-offset-12">
                        <label>Группа:</label>
                    <select name="dropdown1" class="form-control">
                        {% for groupname in groupname %}
                            <option value="{{ groupname.id }}">{{ groupname.Name}}</option>
                        {% endfor %}
                    </select>
                        <p></p>
                        <label>Семестр:</label>
                    <select name="dropdown2" class="form-control">
                        {% for semestrname in semestrname %}
                            <option value="{{ semestrname.name }}">{{ semestrname.name}}</option>
                        {% endfor %}
                    </select>
                    </div>
                    <p></p>
                    <p><button type="submit" class="btn btn-success">Вывод</button>
                </center>
            </div>
        </div>
    </div>
</form>
{% endblock %}