{% extends 'base.html' %}
{% load static %}
{% block title %}Экран успеваемости{% endblock %}
{% block content %}
<div class="row">
    <div class="col">
        <form action="" method="GET">
            {{ form }}
            <button type="submit" class="btn btn-primary">Получить</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col">
        <div id="scores_list" class="backgrid-container">

        </div>
    </div>
</div>
{% endblock %}

{% block additional_css %}
{{ form.media.css }}
<link rel="stylesheet" href="{% static 'css/backgrid.css' %}" type="text/css">
<style>
    table{
        table-layout:fixed;
        width:"100%";
    }
    select{
        width: 200px;
    }
</style>
{% endblock %}

{% block additional_js %}
<script src="{% static 'js/underscore.js' %}"></script>
<script src="{% static 'js/backbone.js' %}"></script>
<script src="{% static 'js/backgrid.js' %}"></script>
{{ form.media.js }}
{% endblock %}

{% block scripts %}
{% include 'group_points.js' %}
{% endblock %}