{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <form action="/auth/login/" method="post">
            {% csrf_token %}
            <h1>Вход в систему</h1>
            <label for="username">Имя пользователя</label>
            <p><input type="text" name="username" id="username"></p>
            <label for="password">Пароль</label>
            <p><input type="password" name="password" id="password"></p>
            {% if login_error %}
                <p><label class="error">{{ login_error }}</label></p>
            {% endif %}
            <button type="submit" class="btn btn-success">Войти</button>
            <a href="/auth/register/" class="btn btn-primary">Регистрация</a>
        </form>
    </div>
{% endblock %}
