{% extends 'base.html' %}
{% block title %}Номенклатура дисциплин{% endblock %}
{% block content %}
    <h1>Номенклатура дисциплин </h1>
    <br>
    <p align="left" id="nomenclature_dis_filter1"><label><b>Направление:</b></label><br></p>
    <p align="left" id="nomenclature_dis_filter2"><label><b>Курс:</b></label><br></p>
    <table id="nomenclature_dis" class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th></th>
                <th>Направление</th>
                <th>Курс</th>
                <th>Группа</th>
                <th>Дисциплина</th>
                <th>Семестр</th>
                <th>Кол-во часов (лекции)</th>
                <th>Кол-во часов (практич. раб.)</th>
                <th>Кол-во часов (лаб. раб.)</th>
                <th>Преподаватель</th>
                <th>Тип контроля</th>
            </tr>
        </thead>
        <tbody>
        {% for course in courses %}
            <tr>
                <td></td>
                <td> {{ course.discipline_detail.discipline.program.specialization.name }} </td>
                <td>
                    {% if course.discipline_detail.semestr.name == '1' or course.discipline_detail.semestr.name == '2' %}
                        1
                     {% elif course.discipline_detail.semestr.name == '3' or course.discipline_detail.semestr.name == '4' %}
                        2
                     {% elif course.discipline_detail.semestr.name == '5' or course.discipline_detail.semestr.name == '6' %}
                        3
                     {% else %}
                        4
                     {% endif %}
                </td>
                <td> {{ course.group.Name }} </td>
                <td> {{ course.discipline_detail.discipline.Name }} </td>
                <td> {{ course.discipline_detail.semestr }} </td>
                <td>
                    {% if course.discipline_detail.Lecture %}
                        {{ course.discipline_detail.Lecture }}
                    {% endif %}
                </td>
                <td>
                    {% if course.discipline_detail.Practice %}
                        {{ course.discipline_detail.Practice }}
                    {% endif %}
                </td>
                <td>
                    {% if course.discipline_detail.Lab %}
                        {{ course.discipline_detail.Lab }}
                    {% endif %}
                </td>
                <td>
                    {% if course.lecturer %}
                        {{ course.lecturer.FIO }}
                    {% endif %}
                </td>
                <td>
                    {{ course.discipline_detail.controls }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
{% endblock %}