{% extends 'base.html' %}

{% block title %} Восстановление пароля {% endblock %}
{% block content %}
  Для восстановления вашего пароля введите адрес вашей электронной почты, которая зарегистрирована в системе.
  <form method="POST">
    {% csrf_token %}
    <div class="row justify-content-md-center">
        <div class="col-md-4">
        {{ form.as_p }}
        </div>
        <div class="col-md-4">
            <input type="submit" class="btn btn-primary" value="Восстановить!">
        </div>
    </div>
  </form>
{% endblock %}
