{% extends 'base.html' %}

{% block title %}Введите новый пароль{% endblock %}

{% block content %}
{% if validlink %}
    <h1>Придумайте новый пароль!</h1>
    <form method="POST">
        <div class="row justify-content-md-center">
            <div class="col-md-4">
              {% csrf_token %}
              {{ form.as_p }}
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-4">
                <input type="submit" class="btn btn-primary" value="Изменить"/>
            </div>
        </div>
    </form>
    {% else %}
    <p>Неверная ссылка для восстановления пароля. Возможно, ей уже воспользовались. Пожалуйста, попробуйте восстановить пароль еще раз.</p>
    {% endif %}
{% endblock %}