{% extends 'base.html' %}
{% block title %}Список РПД{% endblock %}

{% block additional_css %}
<style type="text/css">
    select{
        width: 450px;
    }
</style>
{% endblock %}

{% block content %}
    <div class="alert alert-danger" role="alert" id="error" style="visibility:hidden;position:fixed;top:0;left:0;width:100%;z-index:100;"></div>
    <h1>Список рабочих программ дисциплин</h1>
    <table id="my_table2" class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th>Код</th>
                <th>Дисциплина</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for discipline in object_list %}
            <tr>
                <td> {{ discipline.code }} </td>
                <td> <a href="{% url 'rpds:rpd' discipline.id %}">{{ discipline.Name }}</a> </td>
                <td>
                     <form action = "delete/{{discipline.id}}/" method="post">
                         {% csrf_token %}
                         <input type="hidden" name="discipline" value="{{ discipline.id }}"/>
                         <input type="submit"  value="Удалить" class="btn btn-danger">
                     </form>
                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>

    <form method="POST" action="empty/">
        {% csrf_token %}
        <input type="submit" value="Создать рпд" >
    </form>
{% endblock %}
{% block scripts %}
{% if teacher %}

$('#modal_error').hide();
{% endif %}
{% endblock %}