<div class="modal" id="AddDisc" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Выберете дициплины!</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
			</div>
			<div class="modal-body">
				<div class="alert alert-danger" role="alert" id="modal_error"></div>
				<form action="{% url 'disciplines:api:add_course_to_teacher' %}" method="post" id="set_disc">
					{% csrf_token %}
					{{ form }}
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" id="SetDisc">Добавить</button>
			</div>
		</div>
	</div>
</div>