{% extends 'base.html' %}
{% block title %}
    Добавление студента
{% endblock %}
{% block content %}
    <h1>Добавление студента</h1>
    <form method="post">
        {% csrf_token %}
        <table>
        <tr>
            <td align="right">ФИО студента</td>
            <td><input id="id_fio" type="text" name="fio" maxlength="255"></td>
        </tr>
        <tr>
            <td align="right">Номер зачетной книжки</td>
            <td><input id="id_studid" type="text" name="studid" maxlength="255"></td>
        </tr>
        {{ form.as_table }}
        </table>
        <p></p>
        <button type="submit" class="btn btn-success">Сохранить</button>
        <a href= "{% url 'student_changelist' %}" class="btn btn-primary">Вернуться</a>
    </form>
{% endblock %}

