{% extends 'base.html' %}
{% load staticfiles %}
{% load extra_tags %}
{% block title %}Баллы БРС для группы {{ discipline.group.Name }}{% endblock %}
{% block content %}
    {% csrf_token %}
<div class="modal" id="SetMaxPointsModal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Установите максимальные баллы!</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
			</div>
			<div class="modal-body">
                <div class="alert alert-danger" role="alert" id="modal_error"></div>
                <form id="maxpointsform">
                    <div class="container">
                        {% for checkpoint in checkpoints %}
                        <div class="row">
                            <label for="checkpointinput_{{ checkpoint.id }}">{{ checkpoint.name }} Максимальные баллы</label>
                            <input type="number" id="checkpointinput_{{ checkpoint.id }}" class="form-control" min="1" max="100" step="0.1" required/>
                        </div>
                        {% endfor %}
                    </div>
                </form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" id="SetMaxPoints">Сохранить</button>
			</div>
		</div>
	</div>
</div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="alert alert-info" role="alert">Согласно п. 4.8 положения СВФУ о БРС Текущий, рубежный и промежуточный контроль осуществляется в рамках <b>накопительной</b> балльно-рейтинговой системы</div>
            </div>
        </div>
        {% if not maxpoints %}
        <div class="row">
            <div class="col">
                <div class="alert alert-warning" role="alert" id="SetMaxPointsAlert">Вы не установили максимальные допустимые баллы по контрольные срезам!! <a href="#" class="alert-link" id="SetMaxPointsLink">Установите!!</a></div>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col">
                <div style="position:fixed;top:0;left:0;width:100%;z-index:100;" id="error_container"></div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1>Баллы БРС: {{ discipline.discipline_detail.discipline.Name }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col"><h2>{{ discipline.group.Name }}</h2></div>
            <div class="col"><h2>Семестр: {{ discipline.discipline_detail.semester }}</h2></div>
        </div>
        <div class="row">
            <div class="col-9"><h2>Преподаватель: {{ discipline.lecturer.FIO }} </h2></div>
            <div class="col-3"><button class="btn btn-primary {% if not maxpoints %}initial{% else %}maxpointsset{% endif %}" id="SetMaxPointsButton">Установить макс. баллы</button></div>
        </div>
        <div class="row">
            <div class="col">
                <div id="scores_list" class="backgrid-container">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="{% url 'disciplines:excel:brs_scores' %}?course_id={{ discipline.id }}" class="btn btn-primary">Скачать контрольный лист</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'css/backgrid.css' %}" type="text/css">
{% endblock %}

{% block additional_js %}
<script src="{% static 'js/underscore.js' %}"></script>
<script src="{% static 'js/backbone.js' %}"></script>
<script src="{% static 'js/backgrid.js' %}"></script>
{% endblock %}

{% block scripts %}
$(document).ready(function(){
    $('#modal_error').hide();
    $('#error').hide();

    function get_error_msg(status, type){
        if(status == 404){
            msg = 'Дисциплина не найдена!'
        }else if(status == 405){
            msg = 'Курс уже окончен!'
        }else if(status == 403 || status == 200){
            msg = 'Вы не можете устанавливать ';
            if (type == 1)msg += 'максимальные ';
            msg += 'баллы для данной дисциплины!';
        }else if(status == 500){
            msg = 'Ошибка при сохранении баллов, обратитесь к администратору!';
        } else if (status == 406){
            msg = 'Вы не установили Максимальные баллы контрольных срезов';
        } else if (status == 409){
            msg = 'Баллы должны устанавливаться по нарастющему порядку!';
        } else if (status == 411){
            msg = 'Баллы не должны превышать максимальные баллы за срез!';
        }
        return msg;
    }
    function ShowMaxPointsForm(data={ {% for checkpoint in checkpoints %}'{{ checkpoint.id }}':'',{% endfor %} }){
        $.each(data, function(key, value){
            $('input[id="checkpointinput_' + key + '"').val(value);
        });
        $('#SetMaxPointsModal').modal('show');
    }

    $('input[id*="checkpointinput_"]').on('keyup', function(e){
        var s = 0;
        $('input[id*="checkpointinput_"]').each(function(index){
            s += parseInt($(this).val());
        });
        if(s > 100){$(this).className = 'invalid'; $(this).focus();}
    });

    $('#SetMaxPointsLink').on('click',function(e){
        e.preventDefault();
        ShowMaxPointsForm();
    });

    $('#SetMaxPoints').on('click', function(){
        if(!($('#maxpointsform')[0].checkValidity())){
            $('#maxpointsform')[0].reportValidity();
            return;
        }
        $.ajax({
            url:"{% url 'disciplines:api:set_max_points' %}",
            method:"POST",
            data:{
                {% for checkpoint in checkpoints %}
                "checkpoint_{{ checkpoint.id }}": $("#checkpointinput_{{ checkpoint.id }}").val(),
                {% endfor %}
                "course":{{ discipline.id }}
            },
            dataType:"json"
        }).done(function(data, textStatus, jqXHR){
            $.each(data['data'], function(key, value){
                $(columns).each(function(index){
                    if($(this)[0].name === "checkpoint_" + key){
                        $(this)[0].label = $(this)[0].label.split('=')[0] + "=" + value;
                    }
                });
            });
            InitTable(columns, apps);
            $('#SetMaxPointsButton').removeClass('initial').addClass('maxpointsset')
            $('#SetMaxPointsModal').modal('hide');
            $('#SetMaxPointsAlert').hide();
        }).fail(function(jqXHR, textStatus, errorThrown){
            var msg = get_error_msg(jqXHR.status, 1);
            $('#modal_error').html(msg);
			$('#modal_error').show();
			$('#modal_error').delay(3000).slideUp(500, function() {$(this).hide();});
        });
    });

    $(document).on('click','button.maxpointsset',function(){
        $.ajax({
            url:"{% url 'disciplines:api:get_max_points' %}",
            method:"GET",
            data:{
                "course":{{ discipline.id }}
            },
            dataType:"json"
        }).done(function(data, textStatus, jqXHR){
            if(data['result']){
                ShowMaxPointsForm(data['data']);
            }else{
                $('#modal_error').html('Ошибка при получении максимальных баллов');
                $('#modal_error').show();
                $('#modal_error').delay(3000).slideUp(500, function() {$(this).hide();});
            }
        }).fail(function(jqXHR, textStatus, errorThrown){
            var msg = get_error_msg(jqXHR.status, 1);
            $('#modal_error').html(msg);
			$('#modal_error').show();
			$('#modal_error').delay(3000).slideUp(500, function() {$(this).hide();});
        });
    });

    $(document).on('click','button.initial',function(){
        ShowMaxPointsForm();
    });


    function InitTable(table_columns, table_app){
        $('#scores_list').empty();
        var grid = new Backgrid.Grid({
            columns: table_columns,
            collection: table_app,
            className: "backgrid table table-bordered table-hover"
        });
        var $backgrid = $("#scores_list");
        $backgrid.append(grid.render().el);
    }

    function getCSRF(){
        return $('input[name=csrfmiddlewaretoken]').val();
    }

	function csrfSafeMethod(method) {
		return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
	}

	// Для методов DELETE, POST и PUT установим CSRF-токен
	$.ajaxSetup({
		beforeSend: function (xhr, settings) {
			if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
				xhr.setRequestHeader('X-CSRFToken', getCSRF());
			}
		}
	});

    Backgrid.MyCell = Backgrid.NumberCell.extend({
        className: "my-cell",
        editor: Backgrid.InputCellEditor.extend({
          postRender: function (model, column) {
            if (column == null || column.get("name") == this.column.get("name")) {
              // move the cursor to the end on firefox if text is right aligned
              if (this.$el.css("text-align") === "right") {
                var val = this.$el.val();
                this.$el.focus().val(null).val(val).select();
              }
              else {
                this.$el.focus().select();
              }
            }

            return this;
          }
        })
    });

    var data=[{% for student in group_list %}
                {
                        "student_id":"{{ student.student.id }}",
                        "course_id":"{{ discipline.id }}",
                        "fullname":"{{ student.student.FIO }}",
                        {% for checkpoint in checkpoints %}
                        "checkpoint_{{ checkpoint.id }}":"{% get_brs_point points student.student.id checkpoint.id %}",
                        {% endfor %}
                },
              {% endfor %}
            ];
    var Application = Backbone.Model.extend({
        initialize: function(){
            this.on("change", function(model, response, options){
                if (options && options.save === false) return;
                model.url = "{% url 'disciplines:api:brs_scores' %}";
                model.save(null, { type: "POST", error: function (model, response, options){
                    let msg = get_error_msg(response.status, 2);
                    let error_obj = $('<div class="alert alert-danger" role="alert" id="error">'+msg+'</div>').appendTo('#error_container');
			        $(error_obj).delay(2000).slideUp(500, function() {$(this).alert('close');});
                }});
                //model.off("change", null, this);
                console.log("Changed model " + model.get("fullname") + " " + model.get("student_id"));
            });
        }
    });
    var Applications = Backbone.Collection.extend({
        model: Application,
        state: {
                pageSize: 30
        },
        mode: "client" // page entirely on the client side.
    });

    var apps = new Applications(data);

    var columns=[
        {
            editable: false,
            name: "fullname",
            label: "ФИО",
            cell: "string"
        },
        {% for checkpoint in checkpoints %}
        {
            editable: true,
            name: "checkpoint_{{checkpoint.id}}",
            label: "{{checkpoint.name}} MAX={{ maxpoints|get_maxpoint:checkpoint }}",
            cell: Backgrid.MyCell.extend({
                decimals:1
            })
        },
        {% endfor %}
    ];
    InitTable(columns, apps);
});
{% endblock %}