{% extends 'base.html' %}
{% block title %}
Список студентов
{% endblock %}
{% block content %}
    <h1>Список студентов</h1>
    <table class="table table-bordered">
        <thead>
        <th scope="col">Номер зачетной книжки</th>
        <th scope="col">ФИО</th>
        <th scope="col">Группа</th>
        </thead>
        <tbody>
            {% for i in student_list %}
            <tr>
                <td> {{ i.student.StudentID }} </td>
                <td> {{ i.student.FIO }} </td>
                <td> {{ i.group.Name }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="/student/add">Добавить нового студента</a>
{% endblock %}