{% extends 'base.html' %}
{% block title %}
Список студентов
{% endblock %}
{% block content %}
    <h1>Список студентов</h1>
    <table class="table table-bordered">
        <thead>
        <th scope="col">Номер зачетной книжки</th>
        <th scope="col">ФИО</th>
        <th scope="col">Группа</th>
        <th scope="col"></th>
        </thead>
        <tbody>
            {% for i in student_list %}
            <tr>
                <td> {{ i.student.StudentID }} </td>
                <td> <a href="{% url 'student_edit' i.id %}"> {{ i.student.FIO }} </a> </td>
                <td> {{ i.group.Name }} </td>
                <td>
                    <form action="delete/" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="item_id" value="{{ i.student.StudentID }}" />
                        <button type="submit" value="delete item" class="btn btn-danger btn-sm">
                            <h4>&times;</h4>
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'student_add' %}" class="btn btn-success">Добавить нового студента</a>
{% endblock %}