{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <h1>{{ title }}</h1>
            <br>
            <div class="row">
                <div class="col-md-4 offset-md-4">
                    <div class="form-group">
                    <label for="id_fio">ФИО студента:</td></label>
                     <input class="form-control" id="id_fio" type="text" name="fio" maxlength="255" value="{{ student_list.student.FIO }}">
                    </div>
                    <div class="form-group">
                    <label for="id_studid">Номер зачетной книжки:</label>
                    <input class="form-control" id="id_studid" type="text" name="studid" maxlength="255" value="{{ student_list.student.student_id }}">
                    </div>
                    {% for field in form.visible_fields %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {% render_field field class="form-control" %}
                        </div>
                    {% endfor %}
                    <p align="center"><button type="submit" class="btn btn-success">Сохранить</button>
                    <a href= "{% url 'students:student_changelist' %}" class="btn btn-primary">Отмена</a></p>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
