{% extends 'base.html' %}
{% block title %}
Список преподавателей
{% endblock %}
{% block content %}
    <h1>Список преподавателей</h1>
    <table>
        <thead>
        <td>ФИО</td>
        <td>Должность</td>
        <td>Звание</td>
        <td>Кафедра</td>
        <td>Телефон</td>

        </thead>
        <tbody>
        {% for teacher in teachers %}
            <tr>
                <td>
                    {{ teacher.FIO }}
                </td>
                <td>
                    {{ teacher.Position }}
                </td>
                <td>
                    {% if teacher.Zvanie %}
                   {{  teacher.Zvanie }}
                    {% endif %}
                </td>
                <td>
                    {{ teacher.cathedra }}

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="/teacher/create_teacher">
        Добавить нового сотрудника
    </a>
{% endblock %}