{% extends 'base.html' %}
{% block title %}Список преподавателей{% endblock %}
{% block content %}
    <h1>Список преподавателей</h1>
    <table id="teachers_list" class="table table-bordered">
        <thead>
        <tr>
        <th scope="col">ФИО</th>
        <th scope="col">Должность</th>
        <th scope="col">Звание</th>
        <th scope="col">Кафедра</th>
        <th scope="col">Телефон</th>
        <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for teacher in teachers %}
            <tr>
                <td>  <a href="{% url 'teachers:edit_teacher' teacher.id %}">{{ teacher.FIO }} </a> </td>
                <td> {{ teacher.Position }} </td>
                <td>
                    {% if teacher.Zvanie %}
                   {{  teacher.Zvanie }}
                    {% endif %}
                </td>
                <td> {{ teacher.cathedra }} </td>
                <td></td>

                <td>
                     <div class="modal" id="myModal" tabindex="-1" role="dialog">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title">Подтверждение удаления</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <p>Вы уверены, что хотите удалить?</p>
                          </div>
                          <div class="modal-footer">
                              <form action = "{% url 'teachers:delete_teacher' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="teacher" value="{{ teacher.id }}" />
                                <input type="submit" value="Удалить" class="btn btn-danger">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                              </form>
                           </div>
                        </div>
                      </div>
                    </div>
                    <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-danger">Удалить</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'teachers:create_teacher' %}" class="btn btn-success">
        Добавить нового сотрудника
    </a>
{% endblock %}